/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

/* UTILITIES */



/* MAIN */

aside,
aside .top-sidebar,
.container,
.main-content .top-bar,
.main-content .content-body .nav-bar,
.main-content .content-body .nav-bar .nav-links,
.main-content .content-body .nav-bar .nav-links ul,
.main-content .content .section .cards,
.main-content .section .cards .song-card {
    display: flex;
}

.container {
    height: calc(100vh - 90px);
}

/* SIDEBAR */
aside {
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    background-color: black; 
    width: 300px;
    padding: 20px;
}

aside .brand-logo {
    min-height: 70px;
}

aside .brand-logo img {
    width: 130px;
}

aside .nav-aside {
    margin-bottom: 30px;
}

aside .top-sidebar {
    flex-direction: column;
    overflow-y: hidden;
}

aside .nav-aside > * {
    margin-bottom: 5px;
}

aside #home::before {
    content: url("../img/home.svg");
    display: inline-block;
    width: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

aside #search::before {
    content: url("../img/search.svg");
    display: inline-block;
    width: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

aside #library::before {
    content: url("../img/libreria.svg");
    display: inline-block;
    width: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

aside .playlist {
    overflow: auto;
}

aside .playlist span {
    display: block;
}

/* aside .account {
    justify-self: flex-end;
} */

/* MAIN CONTENT */
.main-content {
    position: relative;
    flex-grow: 1;
    background-color: #141922; 
    color: #fff;
}

/* top-bar */
.main-content .top-bar {
    position: absolute;
    top: 0;
    height: 90px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: right;
}

.main-content .top-bar {
    justify-content: flex-end;
    align-items: center;
}

.main-content .top-bar .upgrade a {
    margin-right: 20px;
    padding: 10px 25px;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 20px;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

/* content body contiene tutto il contenuto ma non topbar */
.main-content .content-body {
    overflow-y: auto;
    padding-top: 90px;
    height: calc(100vh - 90px);
}

/* navbar */
.main-content .content-body .nav-bar {
    justify-content: center;
    height: 60px;
}

/* links di navigazione */
.main-content .content-body .nav-bar .nav-links {   
    width: 55%;
    align-items: center;
    justify-content: center;
}

.main-content .content-body .nav-bar .nav-links ul{
    width: 100%;
    justify-content: space-between;
    list-style: none;
}

.main-content .content-body .nav-bar .nav-links ul li a {
    color: gray;
    font-size: 14px;
    font-weight: bold;
}

/* CONTENUTO */
.main-content .content-body .content {
    padding-left: 20px;
}

/* sezione section */
.main-content .content .section {
    margin-top: 45px;
}

.main-content .content .section > p{
    margin-top: 15px;
    font-size: 12px;
    font-weight: bold;
    color: gray;
}

.main-content .content .section .cards {
    margin-top: 1.5rem;
}

/* song card */
.main-content .section .cards .song-card {
    flex-direction: column;
    /* height: 280px; */
    flex-basis: 180px;
    margin-right: 13px;
    text-align: center;
    color: #fff;
}

.main-content .section .cards .song-card p {
    color: gray;
    font-size: 14px;
    font-weight: bold;
}

.main-content .section .cards .song-card .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-content .section .cards .song-card .image.rounded img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    overflow: none;
}

.main-content .section .cards .song-card .title {
    margin-top: 20px;
    line-height: 25px;
}

/* FOOTER */
footer {
    height: 90px;
    background-color: rgb(68, 138, 68);             /*FIXME:*/
}